* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: 'Montserrat', sans-serif;
    color: #191919;
    margin: 0;
}

p, li, a, label, input, textarea {
    font-family: 'Nunito Sans', sans-serif;
    color: #787878;
    margin: 0;
}

span, a {
	display: inline-block;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

input, textarea {
    border: 1px solid #CCC;
    box-sizing: border-box;
}